:host {
  display: grid;
  grid-template-areas:
    'a a a'
    'b c c'
    'b c c';
  grid-template-columns: 280px auto auto;
}

header {
  grid-area: a;
  width: 100%;
  line-height: 24px;

  .nx-header__brand {
    margin-right: 32px;
  }

  .nx-header__row {
    padding: 1.5rem;
    height: 64px;
  }

  .header-second-row {
    height: 48px;
    background-color: var(--ui-02);
    padding-left: 3rem;
  }

  .nx-header__actions {
    nx-icon {
      color: var(--interactive-text);
      cursor: pointer;
      margin: 0 0.8rem;
      font-size: 20px;
    }
  }

  .title {
    align-self: center;
    padding-left: 2rem;
    font-weight: 600;
  }

  figure {
    display: flex;
    align-items: center;
  }

  img {
    width: 60px;
    cursor: pointer;
  }

  .vertical_separator {
    color: var(--ui-03);
    border-left: 2px solid;
    height: 40px;
    position: absolute;
    left: 80px;
    margin-left: -3px;
    top: 10px;
  }
}

::ng-deep .nx-context-menu {
  width: 120px;
  position: absolute;
  bottom: calc(100vh - 120px);
  right: 1rem;
}

.username {
  padding-left: 1rem;
}

nx-sidebar {
  grid-area: b;
  height: calc(100vh - 100px);

  button {
    width: 100%;
    border: none;
    text-align: left;
    border-radius: 0;
    color: var(--text-01);
    font-weight: 400;
    font-size: 16px;
    height: 40px;
    letter-spacing: 0;

    nx-icon {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
      font-size: 20px;
    }

    &:hover {
      font-weight: 700;
    }

    &.is-selected {
      font-weight: 700;
      background-color: var(--interactive-text);
      color: var(--text-02);
    }
  }
}

main {
  grid-area: c;
  padding: 3rem;
}
