<header nx-header>
    <nx-header-row class="top-header-row">
      <nx-header-brand>
        <nx-link>
          <a routerLink="dashboard">
            <figure nxFigure>
              <img
                src="assets/logos/allianz_logo_small.jpeg"
                alt="Allianz Global Brand Logo"
                role="none"
              />
            </figure>
          </a>
        </nx-link>
        <div class="vertical_separator"></div>
        <div class="title">Climate Resilience Services</div>
      </nx-header-brand>
      
      <nx-header-actions>
        <nx-icon [name]="'search'" size="s" aria-hidden="true"></nx-icon>
        <nx-icon [name]="'bell-o'" size="s" aria-hidden="true"></nx-icon>
        <nx-icon [name]="'applauncher'" size="s" aria-hidden="true"></nx-icon>
        <nx-icon [name]="'user'" size="s" aria-hidden="true" [nxContextMenuTriggerFor]="menu"></nx-icon>
        <nx-context-menu #menu="nxContextMenu">
            <div class="username">{{userEmail}}</div>
            <button nxContextMenuItem type="button" (click)="logout()">Logout</button>
        </nx-context-menu> 
      </nx-header-actions>
    </nx-header-row>
    <nx-header-row class="header-second-row">
      Client Name: {{userEmail}} | ClientID: ABC123456
    </nx-header-row>
</header>

<nx-sidebar #sidebar>
    <button nxButton="secondary small" routerLink="dashboard" routerLinkActive="is-selected" type="button">
      <nx-icon nxActionIcon [name]="'card-o'" aria-hidden="true"></nx-icon> Dashboard
    </button>
    <button nxButton="secondary small" routerLink="perils" routerLinkActive="is-selected" type="button">
      <nx-icon nxActionIcon [name]="'bolt-o'" aria-hidden="true"></nx-icon> Perils
    </button>
    <button nxButton="secondary small" routerLink="locations" routerLinkActive="is-selected" type="button">
      <nx-icon nxActionIcon [name]="'location-o'" aria-hidden="true"></nx-icon> Locations
    </button>
    <button nxButton="secondary small" routerLink="resilience-services" routerLinkActive="is-selected" type="button">
      <nx-icon nxActionIcon [name]="'file-text'" aria-hidden="true"></nx-icon> Services
    </button>
</nx-sidebar>

<main>
    <router-outlet></router-outlet>
</main>



