<h1>Locations</h1>
@for(location of locationStore.locations(); track location.id){
  <app-location [location]="location"></app-location>
} @empty {
  There are no locations so far!
}

<img src="../../../assets/screenshots/locations.png">
